
<div id="home" class="home-hero">
  <div class="hero-holder">
    <%= image_tag "&ru-header.png", class:"hlogo", alt:"Andrew James Design" %>
      <h5>Full Stack Development & Design</h5>
  </div>

</div>

<div id="portfolio" class='container-home'>


  <div class="grid pad-t">

    <div class="col-7-12">

      <div class="big-box effect">
        <figure>
          <%= image_tag "intro-whats-going-on.jpg" %>
        </figure>
        <div class="mask">
          <div class="big-con">
            <%= image_tag "wgo.png", class:"projecthead" %>
            <hr>
            <p>
              Ruby / HTML / CSS / Twitter API & oath / NPR API / Bing API / UI / UX
            </p>
            <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
          </div>
          <div class="link">
            <%= link_to "click to see more", whats_going_on_path, class:"t-green" %>
          </div>
        </div>
      </div>
    </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "intro-knob.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "Knob-header.png", class:"projecthead" %>
              <hr>
              <p>
              JavaScript / jQuery / HTML / CSS / UI / UX
              </p>
              <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", knob_path, class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "intro-detrignome.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "detrignome-header.png", class:"projecthead" %>
              <hr>
              <p>
              JavaScript / jQuery / HTML / CSS / UI / UX
              </p>
              <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", detrignome_path, class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="grid">

      <div class="col-7-12 f-right">
        <div class="big-box effect">
          <figure>
            <%= image_tag "intro-octa.jpg" %>
          </figure>
          <div class="mask">
            <div class="big-con">
              <%= image_tag "octa-header.png", class:"projecthead" %>
              <hr>
              <p>
                Package Design / Marketing / Advertising / Booth Design / Web Development / Creative Direction
              </p>
              <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", octa_path, class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <!-- <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p> -->
              <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <!-- <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p> -->
              <%= image_tag "&ru-logo-project.png", class:"project-logo" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>
  </div>

</div>



<div class="dark-bg">

  <div id="capabilities" class="container">
    <h2>Capabilities</h2>
    <hr>
    <div class="col-8-12 resp-100">

      <div class="grid">
        <div class="col-12-12 resp-50">
          <h3>Technical</h3>
        </div>
      </div>
      <div class="col-3-12 resp-50">
        <p class='cap'>
          Javascript<br>
          jQuery<br>
          HTML<br>
          CSS3<br>
          Sass<br>
        </p>
      </div>

      <div class="col-3-12 resp-50">
        <p class='cap'>
          Ruby<br>
          Rails<br>
          RSpec<br>
          Capybara<br>
          PostgreSQL<br>
        </p>
      </div>

      <div class="col-3-12 resp-50">
          <p class='cap'>

            WordPress<br>
            Git<br>
            Atom<br>
            Photoshop<br>
            Illustrator<br>
          </p>
      </div>

      <div class="col-3-12 resp-50">
          <p class='cap'>

            Lightroom<br>

          </p>
      </div>
    </div>

    <div class="col-4-12 resp-100">

    <div class="grid">
      <div class="col-12-12 resp-50">
        <h3>Creative</h3>
      </div>
    </div>

      <div class="col-6-12 resp-50">
        <p class='cap'>
          UI / UX<br>
          Web Design<br>
          Corporate Identity<br>
          Package Design<br>
          Typography<br>
          Booth Design<br>
        </p>
      </div>

      <div class="col-6-12 resp-50">
        <p class='cap'>
          Web Design<br>
          Corporate Identity<br>
          Packaging<br>
          Typography<br>
          Digital Illustration<br>
        </p>
      </div>
      </div>


    <hr>

    <div id="about" class="col-7-12">
      <h1>
          Full Stack<br>
          Development<br>
          & Design in<br>
          Denver, CO.
        </h1>
    </div>

    <div id="contact" class="col-5-12">
      <div class="pad-r">
        <h2>Contact</h2>
        <hr>
        <p>
          I would love to hear from you.<br>
          Currently I am not available for freelance work.<br>
          But that doesnt mean that Im not interested in hearing about new projects.<br>
        </p>
          look@andrewjamesdesign.com
      </div>
    </div>
  </div>

</div>
