<div id="home" class="home-hero">
    <%= image_tag "&ru-header.png", class:"hlogo", alt:"Andrew James Design" %>
</div>

<div id="portfolio" class="container">


  <div class="grid">

    <div class="col-7-12">

      <div class="big-box effect">
        <figure>
          <%= image_tag "walt.jpg" %>
        </figure>
        <div class="mask">
          <div class="big-con">
            <%= image_tag "tbr.png", class:"projecthead" %>
            <hr>
            <p>
              Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock n roll.
            </p>
            <%= image_tag "&ru-logo-project.png" %>
          </div>
          <div class="link">
            <%= link_to "click to see more", "#", class:"t-green" %>
          </div>
        </div>
      </div>
    </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="grid">

      <div class="col-7-12 f-right">
        <div class="big-box effect">
          <figure>
            <%= image_tag "walt.jpg" %>
          </figure>
          <div class="mask">
            <div class="big-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock n roll.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class="grid">

      <div class="col-7-12">
        <div class="big-box effect">
          <figure>
            <%= image_tag "walt.jpg" %>
          </figure>
          <div class="mask">
            <div class="big-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock n roll.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-5-12">
        <div class="small-box effect">
          <figure>
            <%= image_tag "ang.jpg" %>
          </figure>
          <div class="mask">
            <div class="small-con">
              <%= image_tag "tbr.png", class:"projecthead" %>
              <hr>
              <p>
                Denver rock band The Born Readies are a staple to the rock n roll scene, even though there isnt much of one they will cary on the name in honor of rock.
              </p>
              <%= image_tag "&ru-logo-project.png" %>
            </div>
            <div class="link">
              <%= link_to "click to see more", "#", class:"t-green" %>
            </div>
          </div>
        </div>
      </div>

  </div>
</div>



<div class="dark-bg">

  <div id="capabilities" class="container">
    <h2>Capabilities</h2>
    <hr>
    <div class="col-4-12">
      <div class="small-box">
      </div>
    </div>
      <div class="col-2-12">
        <h3>Development</h3>
          <p>
            Ruby<br>
            Rails<br>
            HTML<br>
            CSS3<br>
          </p>
      </div>
      <div class="col-2-12">
        <h3>Web</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>
      <div class="col-2-12">
        <h3>Print</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>
      <div class="col-2-12">
        <h3>Brand + Identity</h3>
        <p>
          Ruby<br>
          Rails<br>
          HTML<br>
          CSS3<br>
        </p>
      </div>

    <hr>

    <div id="about" class="col-7-12">
      <h1>
          Full Stack<br>
          Development<br>
          & Design in<br>
          Denver, CO.
        </h1>
    </div>

    <div id="contact" class="col-5-12">
      <div class="pad-r">
        <h2>Contact</h2>
        <hr>
        <p>
          I would love to hear from you.<br>
          Currently I am not available for freelance work.<br>
          But that doesnt mean that Im not interested in hearing about new projects.<br>
        </p>
          look@andrewjamesdesign.com
      </div>
    </div>
  </div>

</div>
