<div class="dark-bg-p">
  <div class="project-hero">
      <%= image_tag "&ru-header.png", class:"hlogo", alt:"Andrew James Design" %>
  </div>

  <div class="container">
    <h1 class="title-header">Project Title</h1>
    <hr>
    <div class="grid">
    <div class="col-4-12">
      <div class="small-box">
      </div>
    </div>
    <div class="col-8-12">
      <p>

        <%= image_tag @project.image %>
        <h1> <%= @project.title %></h1>
        <p> <%= @project.short_description %></p>
        <p> <%= @project.long_description %></p>
        <ul>
          <li>www.project.com</li>
          <li>Github</li>
        </ul>
      </p>
    </div>
  </div>

  <hr>

    <div class="grid grid-top">

      <div class="col-7-12">
        <div class="big-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>
    </div>

    <div class= "grid">
      <div class="col-7-12 f-right">
        <div class="big-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>
    </div>

    <div class="grid">

      <div class="col-7-12">
        <div class="big-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>
      <div class="col-5-12">
        <div class="small-box">
        </div>
      </div>

    </div>


  </div>
</div>
