<%= link_to 'Edit', edit_project_path(@project), class:"btn btn-info" %><br>
<%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %><br>

<%= @project.hero_image %>
<h1> <%= @project.title %></h1>
<p> <%= @project.short_description %></p>
<p> <%= @project.long_description %></p>
