<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="header">
  <div class="container">
  nav content
  </div>
</div>

  <%= yield %>

<div class="footer">
  <div class="container">

        <%= link_to 'LinkedIn', "https://www.linkedin.com/pub/andrew-james/3b/889/443" %>
        <%= link_to 'github', "https://github.com/andrewpjames13" %>
        <%= link_to 'Twitter', "https://twitter.com/ajamesDesign13" %>
        <%= link_to 'gSchool', "https://students.gschool.it/students/198" %>
      </div>
</footer>
<body>


</body>
</html>
