<!DOCTYPE html>
<html>
<head>
  <title>Portfolio</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900' rel='stylesheet' type='text/css'>
</head>
  <header>
    <div class="container">
        <div class= "grid">
          <ul>
            <li class="col-3-12" ></li>
            <li class="col-1-12" ><%= link_to 'Portfolio', "#" %></li>
            <li class="col-1-12" ><%= link_to 'Capabilities', "#" %></li>
          </ul>
            <div class="col-2-12" ><%= link_to(image_tag("&ru-logo.jpg", class:"logo", alt:"Andrew James Design"), "#") %></div>
          <ul>
            <li class="col-1-12" ><%= link_to 'About', "#" %></li>
            <li class="col-1-12" ><%= link_to 'Contact', "#" %></li>
            <li class="col-3-12" ></li>
          </ul>
        </div>
      </nav>
  </header>


  <%= yield %>


    <footer>
      <div class="container">
        <div class="col-1-12">
          <%= image_tag "&ru-logo-footer.png", class:"logo", alt:"Andrew James Design" %>
        </div>
        <ul class="t-white">
          <li class="col-1-12 t-white"><%= link_to 'Github', "https://github.com/andrewpjames13", class:"foothov" %></li>
          <li class="col-1-12 t-white"><%= link_to 'LinkedIn', "https://www.linkedin.com/pub/andrew-james/3b/889/443", class:"foothov" %></li>
          <li class="col-1-12 t-white"><%= link_to 'Twitter', "https://twitter.com/ajamesDesign13", class:"foothov" %></li>
          <li class="col-2-12 f-right">&copy; <%= Time.now.year %> Andrew James</li>
        </ul>
      </div>
    </footer>
<body>


</body>
</html>
